body{
  background: cyan;
}
li{
  list-style-type: none;
  display: inline-block;
}
li a{
  text-decoration: none;
  color: hotpink;
  background-color: yellow;
  padding: 15px;
  font-size: 25px;
}
li a:hover{
  color: yellow;
  background-color: hotpink;
  transition: 0.5s;
}